{
    "chroma_key": "0 255 0",
    "images": {
        "left": "https://cdn.discordapp.com/attachments/409463624982331393/599813503548915712/2-1.png",
        "neutral": "https://cdn.discordapp.com/attachments/409463624982331393/599813503548915716/aaaaa.png",
        "right": "https://cdn.discordapp.com/attachments/409463624982331393/599813504123404329/1-1.png"
    },
    "triggers": {
        "46": "left",
        "48": "right"
    },
    "size": {
        "width": "",
        "height": ""
    }
}
